.toolbar{
    background-color: rgb(126, 116, 110);
    width: 100%;
}

/* .header{
    position:fixed;
} */

.app-name{
    font-size: xx-large;
    color: rgb(109, 101, 108);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header-elements{
    font-size: medium;
    color:#c4b1a4;
    margin-left: 1.2%;
    margin-top: 5px;
    text-decoration: none;
}