<div class="header">
    <mat-toolbar class="toolbar">
        <button mat-icon-button (click)="openSidenav()" >
            <mat-icon _ngcontent-myn-c297="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">menu</mat-icon>
        </button>
        <h1 class="app-name">CricStats</h1>
        <a href="" class="header-elements" routerLink="/rankings">Rankings</a>
        <a href="" class="header-elements" routerLink="/playerStats">PlayerStats</a>
    </mat-toolbar>
</div>

<!-- <div class="cric-image">
</div> -->