h1{
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(221, 207, 202);
    background-color: rgb(112, 77, 77);
    margin-left: 8%;
    margin-top: 3%;
}

.buttons{
    background-color: rgb(247, 244, 243);
    width: 300px;
    margin-left: 10%;
    margin-top: 20px;
}

.team-buttons{
    margin-left: 9%;
}

table {
    width: 50%;
    margin-left: 20%; 
    margin-top: 2%;  
  }

table{
    background-color: rgb(209, 161, 145);
}

th,td{
    font-size: larger;
}